- attributes("title") = "Home"
- attributes("headline") = "Welcome to Kids in Motion PT"
- attributes("page") = "home"

.jumbotron
	h1 Welcome to Kids in Motion PT
	p Blah Blah Blah
	p
		a.btn.btn-primary.btn-largeLearn more
.row
	.col-md-4
		.well
			p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id elit eget tortor pretium venenatis quis eu urna. Vestibulum facilisis dolor tincidunt consectetur fermentum. Cras venenatis aliquam faucibus. Etiam orci lectus, sagittis at nulla sed, vehicula feugiat orci. Nam vitae consectetur ipsum. Curabitur eu sem ut diam egestas fringilla sed vitae odio. Ut dignissim dictum turpis id dignissim. Fusce odio mauris, consequat vel aliquet eget, condimentum lobortis lectus. Morbi a convallis est. Sed in tristique ipsum, non sagittis tellus. 
	.col-md-4
		.well
			p  Proin vel tincidunt dui. Vivamus blandit ante nec libero mollis sagittis. Proin convallis enim sit amet sollicitudin accumsan. Vivamus tincidunt iaculis est tempus tincidunt. Sed euismod lobortis arcu, at mattis elit sagittis sit amet. Sed malesuada posuere ante, non elementum nunc mattis et. Proin dolor tellus, tempus nec massa non, gravida rutrum mi. Pellentesque leo libero, egestas nec nulla vitae, ornare malesuada turpis. Maecenas quis odio vel erat fringilla fermentum at sit amet est. Aliquam hendrerit lorem tortor, ac eleifend erat interdum non. 
	.col-md-4
		.well
			p  Praesent ultrices lectus et posuere placerat. Etiam tempor sagittis turpis, in cursus tellus faucibus in. Pellentesque justo lacus, gravida sed malesuada at, placerat at tellus. Donec erat nunc, bibendum non erat eget, tincidunt iaculis magna. Praesent cursus metus augue, eu sodales nulla auctor id. Nulla facilisi. Vivamus tempor leo nec justo faucibus pretium. Nullam nulla lectus, laoreet ut feugiat eget, adipiscing semper quam. Mauris felis mauris, elementum vitae laoreet vel, convallis nec lorem. Maecenas ornare, risus non dapibus vestibulum, ipsum risus consequat dui, id dignissim elit odio ut nibh. 