- attributes("title") = "Home"
- attributes("headline") = "Welcome to One and Together"
- attributes("page") = "home"

.jumbotron
	.media
		a.pull-left(href="")
			img.media-object.img-rounded(src="/dist/logo.jpg")
		.media-body
			h1 Welcome to One and Together
			//- p One and Together에 온것을 환영합니다
			p
				a.btn.btn-primary.btn-largeLearn(href="who") Learn more
.row
	.col-md-6
		.well
			p
				= """We were together before.""" 
				br
				= """Now, help us give a hand for the people who have come a long way."""
				br
				br
				= """We could build houses for people living in tropical areas of Africa,"""
				br
				= """We could give support for those who use different languages and have different skin colors, """
				br
				= """But we were not able to care for the different 'us'."""
				br
				br
				= """It is time for us to be one."""
				br
				= """Hoping our little thoughts will eventually become big... """
	.col-md-6
		.well
			p
				= """원래 함께였습니다."""
				br
				= """이제 먼길을 돌아 우리곁에 온 그들에게 손을 내밀어 주세요."""
				br
				br
				= """아프리카 밀림에 집을 지어줄 수는 있었어도,"""
				br
				= """말과 피부색이 다른 이들을 위해 우물을 파 줄순 있었어도"""
				br
				= """정작 돌봐야 될 우리의 다른 하나에는 오히려 그럴 수 없었습니다."""
				br
				br
				= """이제 함께 하려 합니다."""
				br
				= """우리의 작은 몸짓이 언젠가는 큰 날개짓이 되길 바라며..."""
			br